/*** Product ***/
.product-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
}

.product-item img {
  transition: 0.5s;
}

.product-item:hover img {
  transform: scale(1.1);
}
.product-item .product-description,
.room-item .product-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 1.5em; /* fallback */
  max-height: 3em;
  height: 3em; /* fallback */
  color: #2c3e50;
}

.product-title {
  height: 1.5em;
  font-size: 18px;
  font-weight: 600;
}

.product-description {
  margin-bottom: 20px;
}
